numpy
scipy
matplotlib
scikit-learn
pandas
seaborn
torch
torchvision
torchaudio
tensorboard
tqdm
pillow
opencv-python
jupyterlab
pyprind
nltk
xgboost
lightgbm
catboost
mlxtend
gdown
pytorch-lightning
pytorch-ignite
portalocker
torchtext
streamlit
scikit-optimize